#aboutSection
{
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

#mainHeader
{
    font-family: 'Noto Serif', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 35px;
    color: #C29239;
    text-align: left;
}

#headerLine
{
    background-color: #000000;
    height: 1px;
    width: 100%;
}

#mainText
{
    padding-top: 20px;
    font-size: 17px;
    text-align: left;
    font-weight: normal;
}

#mainText p
{
    padding-top: 1.5em;
}

#subHeader
{
    font-size: 19px;
    font-weight: bold;
}

.clinicLeftImage
{
    float: left;
    margin: 1em 1em 10px 0;
}

.clinicRightImage
{
    float: right;
    margin: 1em 1em 10px 0;
}

.clinicTopImage
{
    float: left;
    margin: 0em 1em 10px 0;
}